Repository sayingpotato/Backend, pull requests merged in 2023-09, with the labels that each got.

#68 Feat/get ordered list(#45)
  src/main/java/iampotato/iampotato/InitDb.java
  src/main/java/iampotato/iampotato/domain/item/domain/Item.java
  src/main/java/iampotato/iampotato/domain/itemoption/domain/ItemOption.java
  src/main/java/iampotato/iampotato/domain/order/api/OrderApi.java
  src/main/java/iampotato/iampotato/domain/order/application/OrderService.java
  src/main/java/iampotato/iampotato/domain/order/dao/OrderRepository.java
  src/main/java/iampotato/iampotato/domain/order/domain/Order.java
  src/main/java/iampotato/iampotato/domain/order/dto/OrderDetailResponse.java
  src/main/java/iampotato/iampotato/domain/order/exception/OrderException.java
  src/main/java/iampotato/iampotato/domain/order/exception/OrderExceptionGroup.java
  src/main/java/iampotato/iampotato/domain/orderitem/domain/OrderItem.java
  src/main/java/iampotato/iampotato/domain/review/domain/Review.java
  src/main/java/iampotato/iampotato/domain/review/domain/ReviewStatus.java
  src/main/java/iampotato/iampotato/global/exception/ExceptionController.java
Labels: ✨ Feature, 📬 API

#71 fix: fix many erorrs (#70)
  src/main/java/iampotato/iampotato/domain/customer/api/CustomerApi.java
  src/main/java/iampotato/iampotato/domain/customer/application/CertifyCustomerService.java
  src/main/java/iampotato/iampotato/domain/customer/application/CustomerSignInService.java
  src/main/java/iampotato/iampotato/domain/customer/application/CustomerSignUpService.java
  src/main/java/iampotato/iampotato/domain/customer/dao/CustomerRepository.java
  src/main/java/iampotato/iampotato/domain/customer/domain/Customer.java
  src/main/java/iampotato/iampotato/domain/customer/dto/CertifyCustomerRequest.java
  src/main/java/iampotato/iampotato/domain/customer/dto/SignInRequest.java
  src/main/java/iampotato/iampotato/domain/customer/dto/SignUpRequest.java
  src/main/java/iampotato/iampotato/domain/customer/dto/TokenResponse.java
  src/main/java/iampotato/iampotato/domain/customer/exception/CustomerException.java
  src/main/java/iampotato/iampotato/domain/customer/exception/CustomerExceptionGroup.java
Labels: 🐞 BugFix

#72 Feat/order service(#69)
  src/main/java/iampotato/iampotato/domain/item/dao/ItemRepository.java
  src/main/java/iampotato/iampotato/domain/item/domain/Item.java
  src/main/java/iampotato/iampotato/domain/item/domain/Items.java
  src/main/java/iampotato/iampotato/domain/itemoption/dao/ItemOptionRepository.java
  src/main/java/iampotato/iampotato/domain/itemoption/domain/ItemOptions.java
  src/main/java/iampotato/iampotato/domain/order/api/OrderApi.java
  src/main/java/iampotato/iampotato/domain/order/application/OrderService.java
  src/main/java/iampotato/iampotato/domain/order/dao/OrderRepository.java
  src/main/java/iampotato/iampotato/domain/order/domain/Order.java
  src/main/java/iampotato/iampotato/domain/order/dto/OrderPostRequest.java
  src/main/java/iampotato/iampotato/domain/order/dto/OrderPostResponse.java
  src/main/java/iampotato/iampotato/domain/orderitem/domain/OrderItem.java
  src/main/java/iampotato/iampotato/domain/store/dto/detail/StoreDetailItems.java
Labels: ✨ Feature, 📬 API

#74 fix : modify api spec
  src/main/java/iampotato/iampotato/domain/store/dto/search/StoreSearchResponse.java
  src/main/java/iampotato/iampotato/domain/store/dto/todaydiscount/StoreTodayDiscountResponse.java
Labels: 📬 API

#77 Feat/develop get item(#75)
  src/main/java/iampotato/iampotato/domain/item/api/ItemController.java
  src/main/java/iampotato/iampotato/domain/item/application/ItemService.java
  src/main/java/iampotato/iampotato/domain/item/dao/ItemRepository.java
  src/main/java/iampotato/iampotato/domain/item/dto/ItemRequest.java
  src/main/java/iampotato/iampotato/domain/item/dto/ItemResponse.java
  src/main/java/iampotato/iampotato/domain/item/exception/ItemException.java
  src/main/java/iampotato/iampotato/domain/item/exception/ItemExceptionGroup.java
  src/main/java/iampotato/iampotato/global/exception/ExceptionController.java
Labels: ✨ Feature, 📬 API

#79 feat : add initDb stores
  src/main/java/iampotato/iampotato/InitDb.java
Labels: ✨ Feature

#80 Feat/develop post store(#76)
  src/main/java/iampotato/iampotato/domain/owner/dao/OwnerRepository.java
  src/main/java/iampotato/iampotato/domain/ownerstore/application/OwnerStoreService.java
  src/main/java/iampotato/iampotato/domain/ownerstore/dao/OwnerStoreRepository.java
  src/main/java/iampotato/iampotato/domain/ownerstore/domain/OwnerStore.java
  src/main/java/iampotato/iampotato/domain/store/api/StoreApi.java
  src/main/java/iampotato/iampotato/domain/store/application/StoreService.java
  src/main/java/iampotato/iampotato/domain/store/dto/register/StoreRegistrationRequest.java
  src/main/java/iampotato/iampotato/domain/store/dto/register/StoreRegistrationResponse.java
Labels: ✨ Feature, 📬 API

#87 Feature/develop admin ap is(#86)
  src/main/java/iampotato/iampotato/InitDb.java
  src/main/java/iampotato/iampotato/domain/customer/api/CustomerApi.java
  src/main/java/iampotato/iampotato/domain/customer/application/GetUnauthorizedCustomersService.java
  src/main/java/iampotato/iampotato/domain/customer/dao/CustomerRepository.java
  src/main/java/iampotato/iampotato/domain/customer/domain/Customer.java
  src/main/java/iampotato/iampotato/domain/customer/dto/SignUpRequest.java
  src/main/java/iampotato/iampotato/domain/customer/dto/UnauthorizedCustomer.java
  src/main/java/iampotato/iampotato/global/config/SecurityConfig.java
Labels: ✨ Feature, 📬 API

#91 Feat/update store(#90)
  src/main/java/iampotato/iampotato/domain/store/api/StoreApi.java
  src/main/java/iampotato/iampotato/domain/store/application/StoreService.java
  src/main/java/iampotato/iampotato/domain/store/domain/Store.java
  src/main/java/iampotato/iampotato/domain/store/dto/update/StoreUpdateRequest.java
  src/main/java/iampotato/iampotato/domain/store/dto/update/StoreUpdateResponse.java
  src/main/java/iampotato/iampotato/domain/storeoperationhour/domain/StoreOperationHour.java
  src/main/java/iampotato/iampotato/domain/storeoperationhour/domain/StoreOperationHours.java
Labels: ✨ Feature, 📬 API

#95 Feat/update init db(#78)
  src/main/java/iampotato/iampotato/InitDb.java
  src/main/java/iampotato/iampotato/domain/discount/domain/Discounts.java
  src/main/java/iampotato/iampotato/domain/store/domain/Store.java
  src/main/java/iampotato/iampotato/domain/store/domain/StoreMapThumbnail.java
  src/main/java/iampotato/iampotato/domain/store/domain/StoreTopItem.java
  src/main/java/iampotato/iampotato/domain/store/domain/StoreTopReview.java
  src/main/java/iampotato/iampotato/domain/store/dto/maplist/StoreMapListResponse.java
Labels: ✨ Feature

#94 Feat/post owner(#93)
  src/main/java/iampotato/iampotato/InitDb.java
  src/main/java/iampotato/iampotato/domain/owner/api/OwnerApi.java
  src/main/java/iampotato/iampotato/domain/owner/application/OwnerService.java
  src/main/java/iampotato/iampotato/domain/owner/dao/OwnerRepository.java
  src/main/java/iampotato/iampotato/domain/owner/domain/Owner.java
  src/main/java/iampotato/iampotato/domain/owner/dto/OwnerAuthorizeRequest.java
  src/main/java/iampotato/iampotato/domain/owner/dto/OwnerAuthorizeResponse.java
  src/main/java/iampotato/iampotato/domain/owner/dto/OwnerSignUpRequest.java
  src/main/java/iampotato/iampotato/domain/owner/dto/OwnerSignUpResponse.java
  src/main/java/iampotato/iampotato/domain/owner/dto/OwnerUnauthorizedResponse.java
  src/main/java/iampotato/iampotato/domain/owner/exception/OwnerException.java
  src/main/java/iampotato/iampotato/domain/owner/exception/OwnerExceptionGroup.java
  src/main/java/iampotato/iampotato/global/exception/ExceptionController.java
Labels: ✨ Feature, 📬 API
